.header
    &__title
        text-align: left
        margin: 1em 
        position: relative
        top: 7em        

    &__logout       
        display: grid    
        position: relative
        top: 6em
        left: 17em        

    &__submit
        display: grid
        width: 22em
        height: 2em
        position: relative
        top: 7em
        left: 2em
